.addData {
  height: 100vw;
  min-height: 100vw;
  background-color: #2e3036;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  overflow: auto;
  background-size: cover;
  background-attachment: fixed;
}

.addDataElements {
  color: white;
  background-color: rgb(70, 81, 105);
  border-radius: 25px;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -0%);
  max-height: fit-content;
  max-width: fit-content;
  border-radius: 25px;
  padding-top: 1%;
  padding: 1%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.link {
  display: inline-block;
  margin-left: 2%;
  margin-top: 5%;
  padding: 0.7em;
  border-radius: 5px;
  font-size: xx-large;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
  color: white;
  box-sizing: border-box;
  background-color: rgb(70, 81, 105);
}

.link:hover {
  background-color: rgb(100, 99, 99);
}
.link:active {
  background-color: rgb(34, 34, 34);
}
